<div class="container-fluid container-fluid-custom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>About Me</h1>
          <p>
            My name is Kirollos Atef and I am a software engineer. I have experience
            in developing web applications using various technologies such as HTML,
            CSS, JavaScript, and Node.js.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>About the Notes App</h1>
          <p>
            The Notes App is a simple web application that allows users to create,
            edit, and delete notes. It was developed using Node.js and Express.js on
            the backend, and HTML, CSS, and JavaScript on the frontend. The app uses
            MongoDB to store the notes data.
          </p>
        </div>
      </div>
    </div>
</div>
